{% extends 'layout.twig' %}

{% block body %}
    <div class="position-relative">
        <section class="section-shaped my-0">
            <div class="shape shape-style-3 shape-default shape-skew">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container shape-container d-flex">
                <div class="col px-0">
                <div class="row">
                    <div class="col-lg-6">
                    <h1 class="display-3 text-white">
                        CSS برای Print!
                        <span>چطور برای پرینت کردن، استایل رو آماده کنیم؟</span>
                    </h1>
                    <p class="lead text-white">وقتی شما با یه برنامه‌نویس وب، در مورد استایل‌شیت‌های پرینت صحبت می‌کنید، استایل‌هایی به خاطرش میان که برای پرینت کردن صفحات استفاده می‌شن. این استایل‌ها برای این هستن که مطمئن باشیم، صفحه‌ها موقع پرینت کردن، درست و خوانا نمایش داده میشن...</p>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </div>

    <section class="section my-0 overflow-hidden">
      <div class="shape bg-gradient-default shape-skew">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <h2 class="display-3">چرا اچ‌تی‌ام‌ال و سی‌اس‌اس برای پرینت کردن منطقی هستن؟</h2>
            <p class="lead ">شاید یکمی عجیب باشه که محتوایی که الزاما برای وب ساخته نشده، با اچ‌تی‌ام‌ال نگهداری بشه و با سی‌اس‌اس فرمت‌بندی بشه. البته جالبه که بدونید فرمت‌های مهمی مثل EPUB در واقع همون اچ‌تی‌ام‌ال و سی‌اس‌اس هستن که ما اونها رو نمیبینیم. موضوع اینه که اگر ما تمام محتوای یک مطلب رو تو اینترنت پخش نکنیم، قطعا یه بخشیش رو خواهیم کرد.</p>
            <p>تو این شرایط اچ‌تی‌ام‌ال، گزینه‌ی خوبی برای استاندارد‌سازی صفحه‌هاست و خیلی ساده‌تر هست که باهاش روی صفحه‌بندی‌ها کار کنیم. خصوصا زمانی که لازم هست سایتمون یا مطالب وبلاگمون رو برای نسخه‌های کتابی هم آماده کنیم.</p>
          </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h3 class="display-4">تفاوت بین سی‌اس‌اس برای وب و سی‌اس‌اس برای پرینت</h3>
                <p>تفاوت اصلی، که در حقیقت یک تفاوت مفهومی یا کانسپچوال هست، اینه که پرینت کردن برای یک صفحه‌ای هست که ابعاد فیکس و ثابتی رو داشته باشه، این در جاییه که برای طراحی و دیزاین وب، فرض اول ما اینه که ابعاد صفحه رو نمیدونیم.</p>
                <p class="lead">به همین خاطر باید در نظر بگیریم که محتوای ما در چند صفحه‌ی جدا از هم پخش میشه و تو یک صفحه‌ی ادامه‌دار نمایش داده نمیشه.</p>
                <p>این صفحه‌بندی باعث میشه که مفاهیمی بوجود بیان که در حالت عادی برای طراحی وب معنایی ندارن. به عنوان مثال، شما باید شماره صفحه بسازید، عنوان مطلب رو بالای صفحه درج کنید، در جای  
                لازم صفحه رو بشکونید تا ابعاد و فواصل بهم نخورن و غیره... شاید حتی لازم باشه فهرست و پانویس بسازید، ایندکس‌بندی کنید و جداول رو قرار بدید. اینجای جایی هست که سی‌اس‌اس به کارتون میاد...!</p>
                <p class="lead">به خاطر خواص طراحی پرینت، دیگه نیازی نیست نگران ساپورت مرورگرها باشیم یا حتی طراحی ریسپانسیو کنیم.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h3 class="display-4">خصوصیات طراحی پرینت</h3>
                <p>اطلاعاتی که تا اینجا در مورد سی‌اس‌اس دارید کافیه، فقط یه جاهاییش رو باید یکمی تغییر بدیم.</p>

                <h4 class="display-5">قانون <code dir="ltr">@page</code></h4>
                <p><code dir="ltr">@page</code> کمک میکنه تا ابعاد مختلفی از صفحات رو بسازید. برای مثال، شما میخواید ابعاد صفحه رو طوری تعریف کنید که در حالت عادی ۱۰ در ۱۵ سانتی‌متر نمایش داشته بشه. یا حتی ممکنه بخواید از سایز A4 استفاده کنید:</p>
                <pre dir="ltr" style="text-align: left;"><code>@page {
    size: 10cm 15cm
}</code></pre>
                <p>یا حتی از ابعاد پیشفرض استفاده کنید:</p>
                <pre dir="ltr" style="text-align: left;"><code>@page {
    size: A4 portrait
}</code></pre>

                <h4 class="display-5">آشنا شدن با ساختار صفحه‌ها</h4>
                <p></p>
            </div>
        </div>
      </div>
    </section>
{% endblock %}