{% extends 'layout.twig' %}

{% block body %}
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section-shaped my-0">
      <div class="shape shape-style-1 shape-default shape-skew">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container shape-container d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">سریع کتاب بسازید!
                <span>یا مقالتون رو به کتاب تبدیل کنید.</span>
              </h1>
              <p class="lead  text-white">ابزار اچ‌تی‌ام‌ال به پی‌دی‌اف، یه ابزار کوچولو هست تا شما بتونید فایل‌های اچ‌تی‌ام‌ال، مقاله‌ها و پست‌های وب‌لاگتون رو به نسخه پی‌دی‌اف تبدیل کنید تا کاربرها و خوانندهاتون بتونن یه نسخه‌ی کتابی از اونها رو هم داشته باشن.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">استفاده ساده</h6>
                  <p class="description mt-3">فقط کافیه متن رو وارد کنید، عنوان متن و نام نویسنده رو هم بنویسید، یکمی صبرکنید تا لینک دانلود کتاب رو دریافت کنید.</p>
                  <div>
                    <span class="badge badge-pill badge-primary">سادگی</span>
                    <span class="badge badge-pill badge-primary">سریع</span>
                    <span class="badge badge-pill badge-primary">آسان</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-istanbul"></i>
                  </div>
                  <h6 class="text-success text-uppercase">انتخاب طراحی و تم</h6>
                  <p class="description mt-3">میتونید شکل کتاب رو انتخاب کنید، از مدل‌های پیش‌فرض یکی رو برداشته و انواع مختلفی از طراحی‌ها رو برای کتابتون استفاده کنید.</p>
                  <div>
                    <span class="badge badge-pill badge-success">طراحی</span>
                    <span class="badge badge-pill badge-success">دیزاین</span>
                    <span class="badge badge-pill badge-success">گتاب</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-planet"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">سرویس API</h6>
                  <p class="description mt-3">با یه سرویس Restful API ساده، محتوای اچ‌تی‌ام‌ال و اطلاعات کتاب رو بفرستید و درپاسخش، لینک دانلود رو تحویل بگیرید.</p>
                  <div>
                    <span class="badge badge-pill badge-warning">ای‌پی‌آی</span>
                    <span class="badge badge-pill badge-warning">برنامه‌نویسی</span>
                    <span class="badge badge-pill badge-warning">ای‌جکس</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="images/pdf.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>کتاب رو بسازید...</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                  <label for="htmlInput">عنوان:</label>
                  <input type="text" class="form-control" dir="rtl" id="htmlTitle">
                </div>
                <div class="form-group">
                  <label for="htmlInput">نویسنده:</label>
                  <input type="text" class="form-control" dir="rtl" id="htmlAuthor">
                </div>
                <div class="form-group">
                  <label for="htmlInput">محتوای HTML:</label>
                  <textarea class="form-control" dir="ltr" id="htmlInput" rows="3"></textarea>
                </div>
                <button id="btnSend" class="btn btn-primary">ارسال</button>
                <button id="btnDownload" class="btn btn-default" disabled="true">دانلود فایل</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="images/Api.png" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">ای‌پی‌آی</h4>
              <p class="lead text-italic text-white">اگر شما هم برنامه‌نویس هستید، و میخواید کتاب رو از راه دور یا همون ای‌پی‌آی‌های خودمون بسازید، دستورالعمل سمت چپ رو بخونید...</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <div class="icon icon-lg icon-shape icon-shape-warning shadow rounded-circle mb-5">
              <i class="ni ni-settings"></i>
            </div>
            <h3>استفاده از ای‌پی‌آی</h3>
            <p>شما میتونید از سرویس ای‌پی‌آی هم برای ساخت کتاب استفاده کنید. فقط کافیه یک شی JSON رو با درج <code>title</code> یا عنوان کتابتون، <code>detail</code> برای توضیحات کتاب، <code>author</code> برای نام نویسنده و <code>html</code> بامحتوای اچ‌تی‌ام‌ال به آدرس <p><code>https://html-to-pdf.saidi27.com/convert <span class="badge badge-warning">POST</span></code></p> ارسال و پس از اتمام کار آدرس دانلود فایل رو دریافت کنید.</p>
            <p class="text-mute">کتاب‌های ساخته شده، تا مدت ۳۰ روز توی استورج AWS S3 باقی می‌مونن و بعدش پاک میشن.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section section-shaped my-0 overflow-hidden">
    <div class="shape shape-style-1 bg-gradient-warning shape-skew">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-0">
      <div class="row row-grid align-items-center">
        <div class="col-lg-6 order-lg-1">
          <div class="d-flex px-3">
            <div>
              <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                <i class="ni ni-building text-primary"></i>
              </div>
            </div>
            <div class="pl-4">
              <h4 class="display-3 text-white">بزودی!</h4>
              <p class="text-white">شما میتونید تمی که مد نظرتون هست رو هم انتخاب کنید. این تم‌ها شامل شکل فونت‌ها، اندازه‌ها، رنگ‌بندی‌ها و ابعدا میشن.</p>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-satisfied"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-success">از تم‌های دیگران استفاه کنید.</h5>
                  <p>این پروژه رو بصروت اوپن‌سورس عرضه کردم و این باعث میشه کسایی که علاقه‌دارن، بتونن روی تم‌هایی که میخوان کار کنن و اونها رو به اشتراک بذارن.</p>
                  <a href="https://github.com/AienTech/html-to-pdf" class="text-success">شما هم کمک کنید.</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow shadow-lg--hover mt-5">
            <div class="card-body">
              <div class="d-flex px-3">
                <div>
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-active-40"></i>
                  </div>
                </div>
                <div class="pl-4">
                  <h5 class="title text-warning">تم شخصی خودتون رو استفاده کنید.</h5>
                  <p>یکی دیگه از آپشن‌هایی که موقع استفاده از ای‌پی‌آی دارید، اینه که به بنده‌ی JSON یه پراپرتی <code>theme</code> با محتوای css اضافه و از تم خودتون استفاده کنید.</p>
                  <a href="/how-make-a-css-print-ready-stylesheet" class="text-warning">چطور CSS رو برای Print آماده کنیم</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-8">
          <h2 class="display-3">کیا روی این پروژه کار میکنن؟</h2>
          <p class="lead text-muted">این پروژه اوپن سورس هست و هرکسی که علاقه داشته باشه میتونه روش کار کنه، و اسم خودش رو به این لیست اضافه کنه :)</p>
        </div>
      </div>
      <div class="row">
        {% include 'contributer.twig' with {
          'image_address': 'https://s3-us-west-2.amazonaws.com/saidi27/saidi27-static/me.jpg', 
          'name': 'آیین سعیدی', 
          'profession': 'برنامه‌نویس وب', 
          'twitter_address': 'https://twitter.com/aientech', 
          'github_address': 'https://github.com/AienTech', 
          'site_address': 'https://www.saidi27.com', 
          'theme': 'warning'
        } %}
      </div>
    </div>
  </section>
  <section class="section section-lg pt-0">
    <div class="container">
      <div class="card bg-gradient-warning shadow-lg border-0">
        <div class="p-5">
          <div class="row align-items-center">
            <div class="col-lg-8">
              <h3 class="text-white">شما هم دوست دارید روی این پروژه کار کنید؟</h3>
              <p class="lead text-white mt-3">گار روی این پروژه بسیار سادست. شما میتونید به دو روش روی اون کار کنید. یا اینکه پروژه رو کلون کنید و کد بزنید و در نهایت پوش کنید و بعدم مرج‌ریکوئست، و یا اینکه فورک کنید و پروژه خودتون رو ازش بسازید.</p>
            </div>
            <div class="col-lg-3 ml-lg-auto">
              <a href="https://github.com/AienTech/html-to-pdf" class="btn btn-lg btn-block btn-white">صفحه‌ی پروژه</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    var btnSend = $("#btnSend");

    btnSend.click(function (e) {
      var htmlText = $("textarea#htmlInput").val();
      var htmlAuthor = $("input#htmlAuthor").val();
      var htmlTitle = $("input#htmlTitle").val();
      var btnDownload = $('#btnDownload');

      btnSend.prop('disabled', true);
      btnDownload.prop('disabled', true);

      $.ajax('/convert', {
        async: true,
        data: { "html": htmlText.toString(), "title": htmlTitle.toString(), "author": htmlAuthor.toString() },
        dataType: "json",
        method: "post",
        success: function (data, status, xhr) {
          btnDownload.click(function (e) {
            window.open(data.data, '_blank');
          });
          btnDownload.prop('disabled', false);
        },
        error: function (xhr, status, err) {
          $('#status').text(JSON.stringify(err));
        },
        complete: function () {
          btnSend.prop('disabled', false);
        }
      })
    });
  </script>
{% endblock %}