<html>

<head>
    <link href="https://cdn.rawgit.com/rastikerdar/sahel-font/v1.0.0-alpha21/dist/font-face.css" rel="stylesheet" type="text/css"
    />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
        }

        body {
            padding: 1cm;
            font-family: "Sahel";
        }

        @page {
            size: 7in 9.25in;
            margin: 27mm 16mm 27mm 16mm;
        }

        a {
            page-break-inside: avoid;
        }

        blockquote {
            page-break-inside: avoid;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            page-break-after: avoid;
            page-break-inside: avoid;
        }

        img {
            page-break-inside: avoid;
            page-break-after: avoid;
        }

        table,
        pre {
            page-break-inside: avoid;
        }

        ul,
        ol,
        dl {
            page-break-before: avoid;
        }

        h1 {
            page-break-before: always;

            text-align: center;

            font-size: 24px !important;
        }

        h2 {
            font-size: 20px !important;
        }

        h3 {
            font-size: 18px !important;
        }

        h4 {
            font-size: 16px !important;
        }

        a:link,
        a:visited,
        a {
            background: transparent;
            color: #520;
            font-weight: bold;
            text-decoration: underline;
            text-align: left;
        }

        a {
            page-break-inside: avoid;
        }

        a[href^="http"]:after {
            content: " < " attr(href) "> ";
        }

        $a:after>img {
            content: "";
        }

        article a[href^="#"]:after {
            content: "";
        }

        a:not(:local-link):after {
            content: " < " attr(href) "> ";
        }

        p,
        td,
        tr,
        strong,
        b,
        i,
        li {
            font-size: 11px !important;
            word-wrap: break-word;
            word-break: normal;
        }

        pre,
        code {
            font-family: "Inconsolata", monospace;
            font-size: 8px !important;
            max-width: 95%;
        }

        pre {
            margin: 0.5cm;
            background-color: #eee;
            border: 1px solid #d0d0d0;
        }

        code {
            padding: 0.25cm;
        }

        a {
            text-decoration: none;
            color: black;
        }

        table.header-table {
            width: 100%;
            margin: 0;
            padding: 0;
            border-bottom: 1px solid #eee;
        }

        table:not(.header-table) {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: auto;
            table-layout: fixed;
        }

        table:not(.header-table) caption {
            font-size: 1.5em;
            margin: 0.5em 0 0.75em;
        }

        table:not(.header-table) tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
        }

        img {
            max-width: 90%;
            height: auto !important;
        }

        h1:first {
            page-break-after: avoid;
        }

        .firstpage {
            text-align: center;
            vertical-align: middle;
        }

        .firstpage h1 {
            page-break-before: avoid;
        }
    </style>
</head>

<body>
    <div class="firstpage">
        <h1>{{ title }}</h1>
        <br/>
        <h3>نوشته شده توسط {{ author }}</h3>
        {% if detail != null %}
            {{ detail }}
        {% endif %}
    </div>
    <div>
        {{ content }}
    </div>
</body>

</html>